.posts-container {
  width: 50%;
  background-color: #BBCBCB;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10%;
  overflow-x: auto;
}

.post-table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

@media screen and (max-width: 580px) {
  .post-table {
    display: block;
  }
}

.post-header {
  background-color: #9590A8;
  color: white;
}

.author-filter:hover {
  cursor: pointer;
}
